body {
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
    background-color: #F4F9FB;
}

table {
    border-collapse: collapse;
    /*width: 50%;*/
    margin: 6px;
    font-size: 0.8em;
}
th {
    background: #3e83c9;
    color: #fff;
    font-weight: bold;
    padding: 2px 11px;
    text-align: left;
    border-right: 1px solid #fff;
    line-height: 1.2;
}
td {
    padding: 6px 11px;
    border-bottom: 1px solid #95bce2;
    vertical-align: top;
}
td {
    padding: 6px 11px;
}
tr.alt td {
    background: #ecf6fc;
}
tr.over td, tr:hover td {
    background: #bcd4ec;
}
tr.positive {
    background: #99ff99;
}
tr.negative {
    background: #ffcccc;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0px;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0px;
  font-weight: bold;
}



a img {
  border: none;
}

a {
  /*color: #0000FF;*/
  color: #C9645A;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  display: none;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  display: none;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#container {
  margin: 10px auto 0;
  max-width: 960px;
}


#header {
  margin-bottom: 30px;
  padding: 10px 20px;
  height: 20px;
  background-color: #A8D26E;
  border-bottom: 2px solid #92C748;
}

#header-core {
  max-width: 960px;
  margin: 0 auto;
}

#title {
  font-size: 18px;
  text-shadow: 0 1px 0px #888;
  color: #FFF;
  float: left;
}

#menu{
  float:right;
}

#menu ul{
  list-style:none;
}

#menu li{
  display:inline;
  margin:0 5px;
}

#menu li a{
  color: #FFF;
  text-transform:uppercase;
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
  cursor: pointer;
  padding:0 0 1px 0;
  text-shadow: 0 1px 0px #888;
}

#menu li a:hover{
  border-bottom:5px solid #FFF;
}

#menu li a.current{
  border-bottom:5px solid #7F7576;
  text-shadow: 0 1px 0px #444;
  color:#7F7576;
}

#calendar {
  margin-top: 4em;
}

#footer {
  margin-top: 50px auto 0;
  padding: 10px;
  text-align: center;
  color: #333;
}

.info-box {
  padding: 5px;
  background-color: #6495ed;
  border: 1px solid #4D84EA;
  color: #f5f5f5;
}
/** Sinatra error message */

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#status {
  font-size: 0.75em;
}

.highlight {
  background-color: yellow;
}

.highlight-red {
  background-color: #f08080;
}

.small {
 font-size: 0.75em;
}

.tiny {
 font-size: 0.7em;
}

.update-button {
  padding: 5px;
  display: inline-block;
}

.update-button:hover {
  cursor: pointer;
}

.update-image {
  width: 15px;
  height: 20px;
  background: url('update-button.png') no-repeat;
  display: inline-block;
}

.warning {
  color: orange;
}

.tooltip {
  position: relative;
  display: none;
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  background: #9FDAEE;
  border: 1px solid #2BB0D7;
}